<footer>
    <div class="footerLeft">
      <div class="footerMenu">
        <h1 class="fMenuTitle footer-heading">About Us</h1>
        <ul class="fList">
          <li class="fListItem"><a>Company</a></li>
          <li class="fListItem"><a href="#contact-us">Contact</a></li>
          
        </ul>
      </div>
      <div class="footerMenu">
        <h1 class="fMenuTitle footer-heading">Useful Links</h1>
        <ul class="fList">
         
          <li class="fListItem"><a [routerLink]="['/blogs']">Blog posts</a></li>
         
        </ul>
      </div>
      <div class="footerMenu">
        <h1 class="fMenuTitle footer-heading">Products</h1>
        <ul class="fList">
          <li class="fListItem"><a>Yield Estimation</a></li>
          <li class="fListItem"><a [routerLink]="['/private/annotation']">Health Analysis</a></li>
        </ul>
      </div>
    </div>
    <div class="footerRight">
      <div class="footerRightMenu">
        <h1 class="fMenuTitle footer-heading">Subscribe to our newsletter</h1>
        <div class="fMail">
          <input type="text" placeholder="your@email.com" class="fInput" />
          <button class="fButton">Join!</button>
        </div>
      </div>
      <div class="footerRightMenu">
        <h1 class="fMenuTitle">Follow Us</h1>
        <div class="fIcons">
          <img src="../../../assets/images/facebook.png" alt="" class="fIcon" />
          <img src="../../../assets/images/instagram.png" alt="" class="fIcon" />
          <img src="../../../assets/images/twitter.png" alt="" class="fIcon" />
          <img src="../../../assets/images/whatsapp.png" alt="" class="fIcon" />
        </div>
      </div>
      <div class="footerRightMenu">
        <span class="copyright">@Suleman. All rights reserved. 2022.</span>
      </div>
    </div>
  </footer>
