.charts{
    display: inline-block;
    position: relative;
    width: 90%;
    margin-left: 20px;
}

.example-card {
    max-width: 400px;;
    height: 100px;
    margin-left: 10px;
    background-color: aqua;
  }