<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">
  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row" 
      data-aos="fade-up-right" data-aos-duration="1000">
        <div
          class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <h1>Powering informed<em>Decisions</em></h1>
          <p>
            across Pakistan ag value chain Unleash the potential of your land
          </p>
          <a href="#about" class="main-button-slider">KNOW US BETTER</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
